*
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
img
{
    width: 400px;
    height: 200px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

textarea
{
    resize: none;
    height:20px;
}
.chung
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.title
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.time
{
    font-size: xx-large;
    color:rgb(24, 88, 24);
    border-style: solid;
    width: 100px;
    margin-top: 10px;
    background-color: rgb(209, 195, 195);
}
.full
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.location
{
    font-size: small;
    padding-left: 10px;
}
.content
{
    font-size:medium;
    padding-left: 10px;
}
.contain
{
    border-style: solid;
    border-color: forestgreen;
    border-width: 1px;
    border-radius: 12px;
    box-shadow: 5px;
}
.info
{
    display:flex;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
    justify-content: start;
    width: 70vw;
    margin-top: 20px;
    padding: 20px;
    padding: 40px;
    
}